
$color-primary: #fff9eb;
$color-secondary: #343148ff;
$padding-large: 2rem;
$padding-small: 1rem;
$page-width: 900px;
$m-auto: 0 auto;

body {
  background: $color-primary;
}
button,
#react-app button {
  background: $color-secondary;
  color: white;
}
// Top level wrapper
#react-app {
  width:100%;
  height:100dvh;
}

// Inner wrapper
#react-base {
    display:flex;
    flex-direction:row;
    gap: 5em;
}
.sidebar {
  flex:0 1 25%;
}
.posts-feed {
  flex:0 1 75%;
}
