@import '~bootstrap/scss/bootstrap';


html {
  padding:40px;
  max-width:100%;
  overflow-x:hidden;
}

#react-app {
  margin-left:200px;
}
#react-app img {
  width:500px;
  height:auto !important;
  min-height:unset;
  max-height:unset;
}
#react-app form {
  display:flex;
  box-sizing:border-box;
  border-radius:10px;
  margin-top:40px;
  padding:20px;
  gap:20px;
  background:#eee;
  width:500px;
}
.ui.menu {
  position:fixed;
  display:flex;
  flex-direction:column;
  background:#ecd8ed;
  left:20px;
  top:60px;
  padding:20px;
  max-width:130px;
  height:calc(100dvh - 120px);
  border-radius:15px;
}
.ui.menu .item {
  text-decoration:none;
  color:#3a3a3a;
  font-size:15px;
  font-weight:500;
  margin-bottom:20px;
  cursor:pointer;
}
button, input[type="submit"] {
  background: #7c4395;
  padding:12px 24px;
  border-radius:6px;
  color: white;
  font-weight:500;
  cursor:pointer;
}

.posts-feed {
  display:flex;
  flex-direction:column;
  width:500px;
}
.feed-post-single {
  display:flex;
  flex-direction:column;
  background:white;
  border-radius:20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.feed-post-single img {
  max-width:100%;
  object-fit:cover;
  max-height:350px !important;
  order:0;
  border-radius:15px 15px 0 0;
}
.feed-post-single > h1 {
  order:1;
  font-size:16px;
  padding:0 20px;
  margin-bottom:0;
}
.feed-post-single .feed-post-texts {
  order:2;
  padding:0 20px 40px 20px;
  font-size:15px;
  margin-top:0;
}
#react-app > p {
  font-size:15px;
  margin:0;
  line-height:1.6em;
}